<?xml version="1.0"?>

<comm slave="1" mailbox="modbus_tcp"
registers="3"
Nregister="save"
Tregister="INT"
Aregister="holdingRegisters(1,1099)"
Nregister2="data1"
Tregister2="INT"
Aregister2="holdingRegisters(1,1100)"
Nregister2="data2"
Tregister3="INT"
Aregister3="holdingRegisters(1,1101)"
/>

<db name="vysman" type="sqlite" file="vysman.db" mType="trigger" mTag="save" mTime="-1"
tables="3"
Ntable="recepcion"
tablefields="4"
Vtablefield1="sysDate"
Vtablefield2="sysTime"
vtablefield3="data1"
vtablefield4="data2"

/>

